header{
  text-align: center;
}
body{
  background-color: blanchedalmond;
  font-family: serif;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: justify;
}
p{
  font-size: 22px;
}
.a{
  font-size: 10px;
}
.obraz {
  width: 800px;
  height: 540px;
  border: 3px solid black;
  margin: 0 auto 25px;
  justify-content: center;
}
.obraz img {
  width: 100%;
  height: 100%;
}
footer{
  display: flex;
  justify-content: space-between;
}